<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="bbe1b6">  <td>21/08/26 07:56:36</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BookingTests.bookFlight()[pri:0, instance:com.maersk.tests.BookingTests@5faeada1]">bookFlight</td> 
  <td>main@99451533</td>   <td></td> </tr>
<tr bgcolor="bbe1b6">  <td>21/08/26 07:56:48</td>   <td>11844</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BookingTests.bookFlightOtherCountry()[pri:0, instance:com.maersk.tests.BookingTests@5faeada1]">bookFlightOtherCountry</td> 
  <td>main@99451533</td>   <td></td> </tr>
<tr bgcolor="c2a581">  <td>21/08/26 07:56:28</td>   <td>-7684</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.initDriver()[pri:0, instance:com.maersk.tests.BookingTests@5faeada1]">&gt;&gt;initDriver</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@99451533</td>   <td></td> </tr>
<tr bgcolor="c2a581">  <td>21/08/26 07:56:28</td>   <td>-7717</td> <td title="&gt;&gt;TestBase.initSuite()[pri:0, instance:com.maersk.tests.BookingTests@5faeada1]">&gt;&gt;initSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@99451533</td>   <td></td> </tr>
<tr bgcolor="c2a581">  <td>21/08/26 07:56:58</td>   <td>21836</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.tearDown()[pri:0, instance:com.maersk.tests.BookingTests@5faeada1]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@99451533</td>   <td></td> </tr>
</table>
